.top-scroll {
	width: 50px;
    height: 50px;
    background: #ebf5fc;
    z-index: 999999999999;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    box-shadow: -2px -2px 5px white, 3px 3px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: none;
}
.top-scroll a {
    color: red;
    font-size: 25px;
    line-height: 47px;
}
.top-scroll a:hover {
	color: #6a9bd8;
}
.scroll-icon
@media only screen and (max-width: 700px){
	.top-scroll {
		width: 30px;
		height: 30px;
		line-height: 1.5;
	}
	.top-scroll a {
	    color: red;
	    font-size: 16px;
	    line-height: 32px;
	}
}